{% extends 'base.html' %}

{% block title %}Asosiy sahifa{% endblock %}

{% block content %}
<div class="row text-center">
    <h1 class="mb-4">Parol Ro‘yxati Generatori</h1>
    <p class="lead">Bizning veb-ilovamiz yordamida xavfsizlik testlari uchun moslashtirilgan parol ro‘yxatlarini yarating!</p>
</div>
<div class="row mt-5">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Bruteforce haqida</h5>
                <p class="card-text">Bruteforce hujumlari va ularning ishlash mexanizmlarini o‘rganing.</p>
                <a href="{{ url_for('about') }}" class="btn btn-primary">Batafsil</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Parol generatsiyasi</h5>
                <p class="card-text">O‘zingiz xohlagan parametrlar asosida parol ro‘yxatlarini yarating.</p>
                <a href="{{ url_for('generate') }}" class="btn btn-primary">Boshlash</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Generatsiya tarixi</h5>
                <p class="card-text">Avvalgi generatsiya qilingan ro‘yxatlaringizni ko‘ring.</p>
                <a href="{{ url_for('history.history') }}" class="btn btn-primary">Ko‘rish</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}